name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

# setup cloud emulators        
    - name: azuright
      uses: potatoqualitee/azuright@v1.1
      
  #  - name: install localstack
  #    run: python3 -m pip install localstack
  #    shell: bash   
  #  - name: localstack start
  #    run: localstack start
  #    shell: bash
      
# setup cloud emulators             
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
