name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:

      - name: checkout
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --logger 'trx;LogFileName=test-results.trx'

      - name: Collect Code Coverage
        run: dotnet test --no-build /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov,opencover

      - name: NDepend
        uses: ndepend/ndepend-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          license: ${{ secrets.NDEPENDLICENSE }}
          coveragefolder: ManagedCode.Storage.Tests/TestResults
          baseline: main_recent
          retention-days: 15
          #stopIfQGFailed: true
            
      - name: coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ManagedCode.Storage.Tests/TestResults/coverage.info