name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:

      - name: checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      #- name: Test
        #run: dotnet test --no-build /p:CollectCoverage=true /p:CoverletOutput=CoverageResults/ /p:CoverletOutputFormat=opencover
       # run: dotnet test --no-build /p:CollectCoverage=true /p:CoverletOutput=codecoverage /p:CoverletOutputFormat=opencover
 

      - name: Install dotCover
        run: choco install dotcover-cli --confirm

      - name: Test with dotCover
        run: |
          dotcover cover /TargetExecutable="dotnet" /Output="coverage.xml" /ReportType="XML" /TargetArguments="test --no-build"


      - name: NDepend
        uses: ndepend/ndepend-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          license: ${{ secrets.NDEPENDLICENSE }}
          coveragefolder: ${{ github.workspace }}/Coverage
          baseline: main_recent
          retention-days: 15
          #stopIfQGFailed: true

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
